In [1]:
#NOTE: THIS ANALYSIS IS ADOPTED FROM MODULE 19- Neural Nets Charity Analysis

#Initial test analysis. "Family Size", the indicator in this example, will be replaced by number of EV charging stations
# OR replaced by total number of EVs owned in that given blockgroup/census tract

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import sklearn as skl
import numpy as np
#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("../Data/Excel/TESTFILE_Race_Demographics_Block_Group_2010.csv")
df.head()

import matplotlib.pyplot as plt

df.head()

,OBJECTID,GEOID10,ID,NAME,STATE_NAME,ST_ABBREV,AREA,2010 Total Population (U.S. Census),2010 Population Density (Pop per Square Mile) (U.S. Census),2010 Male Population (U.S. Census),...,2000 Renter Occupied Housing Units (U.S. Census),State,County,Tract,Block Group,Shape__Area,Shape__Length,Shape_Length,Shape_Area,TEST
0,33798,60530107013,60530107013,6.053011e+07,California,CA,0.603730,1374,2265.8,679,...,35,6,53,10701,3,NaN,NaN,14086.471150,2440928.5,NaN
1,33799,60530107011,60530107011,6.053011e+07,California,CA,13.829918,1624,117.5,808,...,35,6,53,10701,1,NaN,NaN,36504.689580,55636320.0,NaN
2,33800,60530108042,60530108042,6.053011e+07,California,CA,48.317591,1653,36.4,880,...,308,6,53,10804,2,NaN,NaN,107260.481200,193834566.5,NaN
3,33801,60530009001,60530009001,6.053001e+07,California,CA,0.176607,1466,8254.5,764,...,156,6,53,900,1,NaN,NaN,4149.519047,713660.5,NaN
4,33802,60530009003,60530009003,6.053001e+07,California,CA,0.397913,3017,7620.6,1551,...,407,6,53,900,3,NaN,NaN,5249.788847,1595114.0,NaN